/*
Theme Name: スタッフマルシェテーマ
Author: プロコム北海道
Version: 1.0
*/

/* For modern browsers */
.clearfix:before,
.clearfix:after {
	content:"";
	display:table;
}

.clearfix:after {
	clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
	zoom:1;
}

html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
ul{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start:0;
    padding:0;
}
li{
    list-style: none;
}
dt,dd{-webkit-margin-start: 0px;}

html{
    font-family: sans-serif;
}
html,body{margin:10px 0;}
#wrapper{
    width:1180px;
    margin:0 auto;
}
#head_line{
    height:12px;
    background:url(images/common/line.png) repeat-y;
}
#container{
    width:882px;
    margin:0px auto;
}


a{
    text-decoration:none;
    color:#333;
    border:none;
}
a:hover{
    color:#808080;
    text-decoration:underline;
}
img{
    border: none;
}

.win{
    line-height:1.5em;
}

/* ============================================================
    ヘッダ
============================================================*/
#header{
    margin-bottom:23px;
    width:882px;
    margin-left:0px;
}

#header #header_logo{
    float:left;
    margin:27px 0 0 0;
}

#header #header_logo a{
    display:block;
    line-height:0;
    width:320px;
    height:68px;
    background: url(images/common/logo_on.png) no-repeat;
}
#header #header_logo a span{
    display:block;
    width:320px;
    height:68px;
    background: url(images/common/logo.png) no-repeat;
    opacity: 1;
}
#header #header_logo a span:hover{

}


#head_nav{
    float:right;
    margin-top:33px;
    font-size:12px;
}
#head_nav li:first-child{
    border-left:1px dashed #aaa;
}
#head_nav li{
    float:left;
    border-right:1px dashed #aaa;
    text-align:center;
    width:73px;
    height:42px;
   
}

#head_nav li a{
    display:block;
    margin-top:10px;
}

#head_nav li.hnav_row2 a{
    line-height:1.5em;
    margin-top:5px;
}
.txt_size_11{font-size:11px;}
.txt_size_12{font-size:12px;}
.txt_size_13{font-size:13px;}
.txt_size_14{font-size:14px;}
/* ============================================================
    フッター
============================================================*/

#footer{
    margin-top:30px;
    padding:10px 0 10px 0;
    background:url(images/common/line.png) repeat-y;
    color:#fff;
    padding:20px;
    font-size:13px;
    text-align:center;
}
#footer #footer_nav{
    margin-bottom:10px;
}
#footer ul{

}
#footer li{
    display: inline;
    margin-right:1em;
    padding-right:1em;
    border-right:1px solid #fff;
}
#footer li:last-child{
    border-right:none;
}
#footer a{
    color:#fff;
    text-decoration: none;
}
#footer a:hover{
    color:#808080;
    text-decoration:underline;
}
#footer p{
    margin:0;
}


/* ============================================================
    ボディ
============================================================*/

#content_body{
    padding:0 0px;
    min-height:500px;
}

/* ============================================================
    トップ
============================================================*/

#main_visual{
    width:880px;
    height:240px;
    border:1px solid #aaa;
    margin-bottom:10px;
    position: relative;
    cursor: pointer;
}
#main_visual li{
    display: block;
    width:880px;
    height:240px;
    position: absolute;
    top:0;
    left:0;
}
#main_visual li a{
    display: none;
}
.mv_3,.mv_2,.mv_1{opacity: 0;}


#mv_thumb{
    text-align: center;
    margin-bottom:26px;
}
#mv_thumb li{
    width:110px;
    height:30px;
    display:inline-block;
    border:1px solid #aaa;
    margin-right:10px;
    cursor: pointer;

}
#mv_thumb li:last-child{
    margin-right:0px;
}

#main_nav{
    margin-bottom:20px;
    width:882px;
    padding:0;
    
}
#main_nav li{
    float:left;
    margin-left:2px;
}
#main_nav li a{
    display:block;
    width:145px;
    height:95px;
    position: relative;
}
#main_nav li a span{
    position: absolute;
    display:block;
    width:145px;
    height:95px;
    opacity: 1;
    overflow: hidden;
    text-indent: -9999px;
}
#main_nav li a span:hover{

}
#mnav_staff a{background: url(images/top/tb_forstaff_on.png) no-repeat;}
#mnav_costmer a{background: url(images/top/tb_costmer_on.png) no-repeat;}
#mnav_aboutus a{background: url(images/top/tb_about_on.png) no-repeat;}
#mnav_shops a{background: url(images/top/tb_shops_on.png) no-repeat;}
#mnav_contact a{background: url(images/top/tb_reference_on.png) no-repeat;}
#mnav_corporate a{background: url(images/top/tb_corporate_on.png) no-repeat;}

#mnav_staff a span{background: url(images/top/tb_forstaff.png) no-repeat;}
#mnav_costmer a span{background: url(images/top/tb_costmer.png) no-repeat;}
#mnav_aboutus a span{background: url(images/top/tb_about.png) no-repeat;}
#mnav_shops a span{background: url(images/top/tb_shops.png) no-repeat;}
#mnav_contact a span{background: url(images/top/tb_reference.png) no-repeat;}
#mnav_corporate a span{background: url(images/top/tb_corporate.png) no-repeat;}


/* ============================================================
    新着情報
============================================================*/
#info_section{
    padding-bottom:60px;
}

#info_outer{
    float:left;
    border:4px solid #e6e6e6;
    width:502px;
}
#info_box{
    width:500px;
    border:1px solid #666;
}
#info_box h2{
    display: block;
    height:36px;
    background: url(images/top/lead_info.png) no-repeat;
    overflow: hidden;
    text-indent: -999px;
    padding:0;
    margin:0;
}

#info_box ul{
    padding:10px 0 0 0;
}
#info_box li{
    border-bottom:1px dotted #666;
    padding:3px 0px;
    margin:0 20px;
    font-size:13px;
}

#info_box a{
    display:none;
}
#info_box li{
    cursor: pointer;
}
#info_box li:hover{
    background-color: #f0f0f0;
}
#info_box li dt{display:block; float: left;}
#info_box li dd{
    display:block;
    margin-left:7em;
}

#info_box a.bt_infoarchive{
    display:block;
    width:105px;
    height:25px;
    overflow: hidden;
    text-indent:-9999px;
    background: url(images/top/bt_infoarchive.png) no-repeat;
    margin: 20px auto;
}

#button_box{
    float: right;
    width:345px;
}
#button_box a{
    display:block;
    margin-bottom:8px;
    line-height:0;
}

/* ============================================================
    下層ページ
============================================================*/

#content{
    width:672px;
    float:right;
}
/* ============================================================
    ぱんくず
============================================================*/

#breadcrumb{
    margin-bottom:10px;
}
#breadcrumb li{
    float:left;
    font-size:13px;
    padding-right:0.3em
}
#breadcrumb li:after{
    content:' >';
}
#breadcrumb li:last-child:after{
    content:'';
}

.breadcrumbs{
    font-size:13px;
    margin-bottom:10px;
}
/* ============================================================
    サイドナビ
============================================================*/

#side_nav{
    width:163px;
    float:left;
}
#side_nav li{
    margin-bottom:4px;
}
#side_nav li a{
    display: block;
    width:163px;
    height:57px;
    position: relative;
    overflow: none;
    text-indent: -9999px;
}
#side_nav li a span{
    position: absolute;
    display:block;
    width:163px;
    height:57px;
    overflow: hidden;
    text-indent: -9999px;
    opacity: 1;
}
#side_nav li a span:hover{

}
#side_nav li#snav_staff a{background:url(images/side_nav/m_forstaff_on.png) no-repeat;}
#side_nav li#snav_aboutus a{background:url(images/side_nav/m_about_on.png) no-repeat;}
#side_nav li#snav_contact a{background:url(images/side_nav/m_reference_on.png) no-repeat;}
#side_nav li#snav_costmer a{background:url(images/side_nav/m_costmer_on.png) no-repeat;}
#side_nav li#snav_recruit a{background:url(images/side_nav/m_recruitment_on.png) no-repeat;}
#side_nav li#snav_shops a{background:url(images/side_nav/m_shops_on.png) no-repeat;}
#side_nav li#snav_corporate a{background:url(images/side_nav/m_corporate_on.png) no-repeat;}

#side_nav li#snav_staff a span{background:url(images/side_nav/m_forstaff.png) no-repeat;}
#side_nav li#snav_aboutus a span{background:url(images/side_nav/m_about.png) no-repeat;}
#side_nav li#snav_contact a span{background:url(images/side_nav/m_reference.png) no-repeat;}
#side_nav li#snav_costmer a span{background:url(images/side_nav/m_costmer.png) no-repeat;}
#side_nav li#snav_recruit a span{background:url(images/side_nav/m_recruitment.png) no-repeat;}
#side_nav li#snav_shops a span{background:url(images/side_nav/m_shops.png) no-repeat;}
#side_nav li#snav_corporate a span{background:url(images/side_nav/m_corporate.png) no-repeat;}

#category_list{
    font-size:13px;
    padding:40px 0 20px 0;
}
#category_list h4{
    margin:0 0 5px 0;
    font-size:15px;
}
#category_list ul{
    margin-left:1em;
}
#category_list li a{
    text-indent: 0;
    width:auto;
    height:auto;
    display:inline;
}
#category_list li.current-cat{
    font-weight:bold;
}
/* ============================================================
    下層　共通
============================================================*/
#content h3.title{
    padding-bottom:10px;
}
.content_box{

    margin-left:15px;
}
.dash_border{
    border-bottom:1px dashed #aaa;
}
.section{
    margin-bottom:30px;
    padding-bottom:20px;
}
.description{
    padding:0 10px;
    font-size:14px;
}
/* ============================================================
    お仕事をお探しの皆様
============================================================*/
.flow{

}
.flow h3.lead_flow{
    padding:0 0 10px 0;
    margin:0;
}
img.consul_img{
    margin-bottom:10px;
}
.flow h4.lead_contact2{
    margin-bottom:5px;
}
.consul{
    margin-bottom:20px;
}
.description{
    padding-bottom:50px;
}

.attention_form{
    margin-bottom:20px;
}


/* ============================================================
    フォーム
============================================================*/
.red{color:#c7000b;}
.error{color:#c7000b;}
.form_box{
    /*width:514px;*/
    width:612px;
    padding:20px;
    border:2px solid #ccc;
    margin-bottom:42px;
}

.form_sec h4{
    display:block;
    height:24px;
    border-left:5px solid #c7000b;
    border-bottom:1px solid #c7000b;
    overflow: hidden;
    text-indent: -9999px;
}
.form_sec{
    font-size:13px;
}
.form_sec table{width:90%;}
.form_sec th,
.form_sec td{
    padding-bottom:8px;
}
.form_sec th{
    width:120px;
    text-align: right;
    vertical-align: top;
    font-weight:normal;
    padding:5px;
}
.mw_wp_form_preview .form_sec td{
    padding:5px;
}

.form_sec td input,
.form_sec td textarea{
    width:100%;
    padding:5px;
    font-size:15px;
    border:1px solid #999;
    -moz-border-radius: 3px; /* Firefox用 */
    -webkit-border-radius: 3px; /* Safari,Google Chrome用 */
    border-radius: 3px; /* CSS3 */
    -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.2),0 0 1px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2),0 0 1px rgba(0,0,0,0.3);
   box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2),0 0 1px rgba(0,0,0,0.3);
   
}

.form_submit{
    text-align: center;
    padding:45px 0 53px 0;
}
.form_submit input{
    width:111px;
    height:33px;
    overflow: hidden;
    text-indent: -99999px;
    border: none;
}
.form_submit input[value="確認画面へ"]{
    background: url(images/common/form/mf_kakunin.png) no-repeat top;
    cursor: pointer;
}
.form_submit input[value="確認画面へ"]:hover{
    background: url(images/common/form/mf_kakunin.png) no-repeat bottom;
    cursor: pointer;
}
.form_submit input[value="確認画面へ"][disabled='disabled']{
    background: url(images/common/form/mf_kakunin.png) no-repeat bottom;
    cursor: default;
}
.form_submit input[value="送信する"]{
    width:112px;
    height:34px;
    background: url(images/common/form/bt_send.png) no-repeat top;
    cursor: pointer;
}
.form_submit input[value="送信する"]:hover{
    width:112px;
    height:34px;
    background: url(images/common/form/bt_send.png) no-repeat bottom;
    cursor: pointer;
}
.form_submit input[name="submitBack"]{
    width:112px;
    height:34px;
    overflow: hidden;
    text-indent: -99999px;
    border: none;
    background: url(images/common/form/bt_back.png) no-repeat top;
    cursor: pointer;
}
.form_submit input[name="submitBack"]:hover{
    background: url(images/common/form/bt_back.png) no-repeat bottom;
}
.form_success{
    text-align: center;
}
.form_box .back_to_top{
    padding:30px 0 40px 0;
    
}
.form_box .back_to_top a{
    display:block;
    width:139px;
    height:34px;
    overflow: hidden;
    text-indent: -99999px;
    background: url(images/common/form/bt_top.png) no-repeat top;
    margin:0 auto;
}
.form_box .back_to_top a:hover{
    background: url(images/common/form/bt_top.png) no-repeat bottom;
}
.checkbox_list{
    padding-bottom:20px;
}
.checkbox_list li{
    display:inline;
    margin-right:1em;
}
.privacy{
    text-align: center;
    padding:20px 0 5px 0;
}
.form_checkbox{margin-left:1em}
.form_checkbox label{
    padding-right:1em;
}
.form_zip input{
    width:5em !important;
    margin:0 10px;
}
.form_tel input{
    width:5em !important;
    margin:0 5px;
}
h4.lead_contact_method{background:url(images/common/form/lead_contact_method.png) no-repeat;}
h4.lead_contact{background:url(images/common/form/lead_contact.png) no-repeat;}
h4.lead_hope_contact{background:url(images/common/form/lead_hope_contact.png) no-repeat;}
h4.lead_hope{background:url(images/common/form/lead_hope.png) no-repeat;}

h4.lead_contact_method{
    text-indent: 0;
}
h4.lead_contact_method span{
    display:none;
}
h4.lead_contact_method span.multisel{
    display:block;
    padding-left:150px;
    font-size:13px;
    font-weight:normal;
    color:#c7000b;
    padding-top:4px;
}
.win h4.lead_contact_method span.multisel{
    padding-top:2px;
}
.privacy_check{
    margin:40px 10px 10px 10px;
    padding:10px;
    border:1px solid #c7000b;
    text-align: center;
}
.mw_wp_form_preview .privacy_check{
    display:none;
}
.form_parts_hidden .description,
.form_parts_hidden .lead_flow,
.form_parts_hidden .consul_img,
.form_parts_hidden .flow h4.lead_contact2,
.form_parts_hidden .consul,
.form_parts_hidden .service,
.form_parts_hidden .attention_form,
.form_parts_hidden .privacy_check{
    display:none;
}

.form_confirm_text{display:none;}
.mw_wp_form_preview .form_confirm_text{
    display:block;
    font-size:17px;
    font-weight: bold;
    text-align: center;
    padding:20px 0;
}
.form_send_complete .form_box{
    width:627px;
}

/* ============================================================
    拠点情報
============================================================*/

.content_box .info{
    float:left;
    width:300px;
    font-size:13px;
}

/* ============================================================
    会社情報
============================================================*/
.page_aboutus .section table{
    width:100%;
    margin-bottom:30px;
}
.page_aboutus .section table th{
    width:96px;
    background-color:#c7000b;
    vertical-align: middle;
}
.page_aboutus .section table td{
    font-size: 14px;
    padding:5px 10px;
}
/* ============================================================
    個人情報
============================================================*/
.page_privacy #content{
    width:615px;
    font-size:13px;
}
.page_privacy .section{
    padding-bottom:0;
}
.page_privacy .section p{
    margin-top:0;
}
.page_privacy ol{
    -webkit-padding-start: 0px;
    padding:0 3em;
}
.page_privacy ol li{
    list-style-type: decimal;
    padding-bottom:0.5em;
}
.page_privacy .section h6{
    font-size:16px;
    padding:0 0 0.5em 0;
    margin:0;
}

/* ============================================================
    要件
============================================================*/

.page_require  #content{
    width:615px;
    font-size:13px;
    margin-bottom:30px;
}
.page_require ol{
    -webkit-padding-start: 0px;
    padding:0 3em;
}
.page_require ol li{
    list-style-type: decimal;
    padding-bottom:0.5em;
}
.page_require ol li ul{
    padding-top:1em;
}
.page_require ol li ul li{
    list-style-type:lower-roman;
    padding-bottom:0.2em;
    list-style-type: none;
}

/* ============================================================
    新着情報
============================================================*/

.post_data{
    font-size:13px;
    padding:10px 0 20px 0;
    border-top:1px dotted #ccc;
}

